<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikasi_Penjualan_Tanah_Kavling.Properties.Settings.kavlingtanahConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=kavlingtanah;User ID=sa;Password=Kudaponi123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>